@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body { font-family: 'Roboto', sans-serif; margin: 0; background: #de6262; background: linear-gradient(to right, #de6262, #ffb88c); color: white;
}

.time { position: absolute; width: 100vw; top: 50%; left: 0;transform: translateY(-50%); font-size: 60px; text-align: center; letter-spacing: 3px;
}

button { color: white; background-color: transparent; border-style: none; font-size: 44px; margin: 30px; }

button:focus { outline: 0; }